/* Start Navbar Styling */

nav {
  position: relative;
  z-index: 1;
  top:0;

  width: 100%;
  padding: 0px 10px;

  transition:all 0.5s;

  background-color: #0277bd;

}

nav ul {
  display:flex;

  margin: 0;
  padding:0;

  list-style: none;
}

.link-wrapper {
  display: flex;

  text-align: right;

  flex: 2;
  justify-content: flex-end;
  align-items: flex-end;
}


.brand {
  display: flex;

  text-align: left;

  flex: 1;
  justify-content: flex-start;
  align-items: flex-start;
}

nav a {
  display: inline-block;

  padding: 10px 10px;

  transition:all 0.2s;
  text-transform: uppercase;

  color:white;
}

.links a {
  text-decoration: none;
}

.brand a {
  text-decoration: none;
}

.brand {
  font-size: 20px;
}

nav li a:visited{
  color: #ffffff;
}

.navbox {
  cursor: pointer;
  margin-bottom: 2px;
}
.navbox:hover {
  background-color: #ffffff;
  color: #0277bd;
  margin-bottom: -2px;

 /*-webkit-box-shadow:0px 0px 3px 1px #0277bd ;
 -moz-box-shadow:0px 0px 3px 1px #0277bd ;
 box-shadow:0px 0px 3px 1px #0277bd ;*/
}

/* END Navbar styling */

.results {
  position: relative;

  margin: 0;
  padding: 0;

  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}

.results li {
  display: flex;

  padding: 3px 5px;

  list-style: none;

  transition: background 0.5s;

  border-bottom: 1px solid #131619;
  background: white;
}

#search-form-wrapper {
	position: absolute;

	display: none;
}

.search-form {
  max-width: 400px;
  margin: 0 auto;

  text-align: left;
}

.search {
  margin-top: 20px;

  font-size: 19px;
}

.wrapper {
  z-index: 999;
}

.latex {
  width: 100%;
  padding: 10px;
  height: 100vh;
  resize: none;

  border: none;
  background: transparent;

  font-family: Courier, 'New Courier', monospace;
  font-size: 1.1em;
}

.latex:focus {
  outline: none;
}

.rendered {
  width: 100%;
  padding: 25px;
  height: auto;
  min-height: 100vh;
  box-shadow: #c3c3c3 0px 2px 12px;

  font-family: Georgia, serif;
}

.desc {
  width: 70%;
  padding: 2px 5px;

  border: 1px solid #dadada;
  border-radius: 5px;
}

.keyword {
  width: 25%;
  margin-right: 5%;
}

h3 {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Guide START Styling */

.flex-container {
  padding-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  align-content: center;
}

.flex-ch {
  flex-basis: 45%;
}

.latex-ref {
  font-size: 20px;
  text-align: left;
}

#ref-panel .modal-dialog {
  width: 70vw;
}
